@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --color-light: #fff;
  --color-black: #292d32;
  --color-dark: #292d32;
  --color-bg: #fafbff;
  --color-grey: #9197b3;
  --color-dark-grey: #7e7e7e;
  --color-border: #eeeeee;
  --color-blue: #5932ea;
  --color-text-green: #16c098;
  --color-green: #00b08774;
  --color-dark-green: #008767;
  --color-red: #ffc5c5;
  --color-dark-red: #df0404;
}

html.overflowed {
  overflow: hidden;
}

body {
  background-color: var(--color-bg);
  font-family: "Poppins", sans-serif;
}

.sidebar {
  max-width: 306px;
  width: 100%;
  background-color: var(--color-light);
  position: fixed;
  height: 100vh;
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.04);
  z-index: 5;
  padding: 35px 28px 76px 28px;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: flex-end;
  margin-bottom: 55px;
}
.logo svg {
  width: 32px;
  height: 32px;
  color: var(--color-black);
}

.logo__text {
  font-weight: 600;
  font-size: 26px;
  color: var(--color-black);
  margin-left: 8px;
}

.logo__ver {
  font-size: 10px;
  color: var(--color-grey);
  font-weight: 500;
  margin-left: 4px;
  line-height: 2;
}

.sidebar__nav-list {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
}

.sidebar__nav-icon {
  width: 24px;
  height: 24px;
}

.sidebar__nav-text {
  margin-left: 12px;
  font-size: 14px;
}

.sidebar__nav-arrow {
  height: 10px;
  width: 5px;
  margin-left: auto;
}

.sidebar__nav-item {
  list-style-type: none;
  border-radius: 8px;
}

.sidebar__nav-link {
  display: flex;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  color: var(--color-grey);
  transition: 0.3s;
}

.sidebar__nav-item {
  list-style-type: none;
  transition: 0.3s;
}
.sidebar__nav-item:hover {
  background-color: var(--color-bg);
}
.sidebar__nav-item:hover .sidebar__nav-link {
  color: var(--color-dark);
}
.sidebar__nav-item_active {
  background-color: var(--color-blue);
}
.sidebar__nav-item_active .sidebar__nav-arrow,
.sidebar__nav-item_active .sidebar__nav-icon,
.sidebar__nav-item_active .sidebar__nav-text {
  color: var(--color-light);
}
.sidebar__nav-item_active:hover {
  color: var(--color-light);
  background-color: var(--color-blue);
}

.sidebar__profile {
  display: flex;
  grid-gap: 10px;
  align-items: center;
  margin-top: auto;
}

.sidebar__profile-img-wrapper {
  width: 42px;
  height: 42px;
}

.sidebar__profile-name {
  font-size: 14px;
  color: var(--color-black);
}

.sidebar__profile-position {
  font-size: 12px;
  color: var(--color-dark-grey);
}

.sidebar__profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 998px;
  padding: 40px 15px;
  margin: 0 auto;
}

.main-content {
  margin-left: 306px;
  position: relative;
}

.title {
  font-weight: 500;
  font-size: 24px;
  color: var(--color-black);
  margin-bottom: 50px;
}

.customers {
  background-color: var(--color-light);
  border-radius: 30px;
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.04);
}

.customers__title-block {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.customers__title {
  color: var(--color-black);
  font-size: 22px;
  font-weight: 600;
}

.customers__subtitle {
  color: var(--color-text-green);
  font-weight: 400;
  font-size: 14px;
}

.customers__head {
  display: flex;
  flex-direction: column;
  padding: 30px 35px 0 35px;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 14px;
}

.customers__head-upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.customers__head-lower {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.customers__list-label {
  font-size: 14px;
  color: var(--color-grey);
}
.customers__list-label_name {
  width: 17%;
}
.customers__list-label_company {
  width: 16%;
}
.customers__list-label_num {
  width: 18%;
}
.customers__list-label_email {
  width: 23%;
}
.customers__list-label_country {
  width: 16%;
}
.customers__list-label_status {
  width: 10%;
}

.customers__form {
  background-color: var(--color-bg);
  border-radius: 10px;
  display: flex;
  padding: 8px;
  grid-gap: 8px;
  height: 38px;
  align-items: center;
}

.customers__submit {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  top: 2px;
}
.customers__submit svg {
  width: 24px;
  height: 24px;
  color: var(--color-dark-grey);
  transition: 0.3s;
}
.customers__submit:hover svg {
  color: var(--color-black);
}

.customers__input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 12px;
  color: var(--color-dark);
  max-width: 170px;
  width: 100%;
}
.customers__input::-moz-placeholder {
  color: var(--color-grey);
  font-size: 12px;
  opacity: 0.8;
}
.customers__input::placeholder {
  color: var(--color-grey);
  font-size: 12px;
  opacity: 0.8;
}

.customers__list {
  display: flex;
  flex-direction: column;
  padding: 0 35px;
}

.customers__list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
}

.customers__text {
  font-size: 14px;
  color: var(--color-dark);
  font-weight: 600;
  padding-right: 15px;
  flex-shrink: 0;
}
.customers__text_name {
  width: 17%;
}
.customers__text_company {
  width: 16%;
}
.customers__text_num {
  width: 18%;
}
.customers__text_email {
  width: 23%;
}
.customers__text_country {
  width: 16%;
}

.customers__status {
  width: 10%;
  border: 1px solid var(--color-dark-green);
  background-color: var(--color-green);
  color: var(--color-dark-green);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 5px 0;
  font-weight: 500;
}
.customers__status_inactive {
  border-color: var(--color-dark-red);
  color: var(--color-dark-red);
  background-color: var(--color-red);
}

.customers__foot {
  padding: 32px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customers__statistics {
  color: var(--color-grey);
  font-size: 14px;
  font-weight: 500;
}

.customers__pagination {
  display: flex;
  grid-gap: 12px;
}

.customers__pagination-arrow,
.customers__pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  outline: none;
  transition: 0.3s;
  text-decoration: none;
  font-size: 12px;
  color: var(--color-dark);
  font-weight: 500;
}
.customers__pagination-arrow:hover,
.customers__pagination-link:hover {
  opacity: 0.5;
  cursor: pointer;
}

.customers__pagination-link_active {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  color: var(--color-light);
  pointer-events: none;
}

.customers__pagination-list {
  display: flex;
  grid-gap: 12px;
}

.customers__pagination-dots {
  color: var(--color-dark);
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 3px;
  font-weight: 500;
}

.customers__mobile-label {
  color: var(--color-grey);
  font-weight: 400;
  display: none;
}

.sidebar__close {
  font-size: 30px;
  width: 12px;
  height: 12px;
  color: var(--color-dark);
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}
.sidebar__close:hover {
  opacity: 0.5;
}

.burger {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 3;
  color: var(--color-dark);
  display: none;
  transition: 1s;
  cursor: pointer;
}
.burger svg {
  width: 100%;
  height: 100%;
}
.burger_active {
  color: var(--color-blue);
}

@media (max-width: 1330px) {
  .main-content {
    margin-left: 0;
  }
  .sidebar__close {
    display: flex;
  }
  .sidebar {
    left: 0;
    transition: 1s;
  }
  .sidebar_hidden {
    left: -100%;
  }
  .burger {
    display: block;
  }
}
@media (max-width: 992px) {
  .customers__mobile-label {
    display: block;
  }
  .customers__head-lower {
    display: none;
  }
  .customers__list-item {
    flex-direction: column;
    grid-gap: 15px;
    align-items: flex-start;
  }
  .customers__text {
    width: 100%;
    display: flex;
    grid-gap: 5px;
  }
  .customers__status {
    max-width: 115px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .customers__head-upper {
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 15px;
  }
  .customers__foot {
    flex-direction: column;
    grid-gap: 25px;
  }
  .customers__pagination {
    order: 1;
  }
  .customers__statistics {
    order: 2;
  }
}
@media (max-width: 576px) {
  .customers__pagination-link,
  .customers__pagination-arrow {
    width: 20px;
    height: 20px;
  }
  .customers__statistics {
    font-size: 12px;
  }
  .customers__head,
  .customers__foot,
  .customers__list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .title {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .customers__title {
    font-size: 16px;
  }
  .customers__subtitle {
    font-size: 13px;
  }
  .container {
    padding: 30px 15px;
  }
  .sidebar {
    padding: 25px 15px 70px 15px;
  }
  .sidebar__nav-link {
    padding: 8px;
  }
  .logo {
    margin-bottom: 30px;
  }
}
@media (max-width: 380px) {
  .customers__status {
    max-width: 100%;
    width: 100%;
  }
  .customers__form {
    max-width: 100%;
    width: 100%;
  }
  .customers__input {
    max-width: 100%;
    width: 100%;
  }
  .sidebar {
    max-width: 258px;
  }
}/*# sourceMappingURL=style.css.map */