:root {
  --color-light: #fff;
  --color-black: #292d32;
  --color-dark: #292d32;
  --color-bg: #fafbff;
  --color-grey: #9197b3;
  --color-dark-grey: #7e7e7e;
  --color-border: #eeeeee;
  --color-blue: #5932ea;
  --color-text-green: #16c098;
  --color-green: #00b08774;
  --color-dark-green: #008767;
  --color-red: #ffc5c5;
  --color-dark-red: #df0404;
}
